.talentcenter{
  width: 100%;
  font-family: '微软雅黑';
  line-height: 1.42857143;
  color: #333;
  overflow-y: scroll;
}
/*标题样式*/
#head{
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #FFFF00;
}
#head .container{
  width: 98%;
  position: relative;
  height: 80px;
}
.logo{
  height: 79px;
  margin-left: 10px;
  border-radius:5px;
}
.list {
  line-height: 80px;
  height: 80px;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}
.list ul li{
  float: left;
  margin: 0 15px;
  font-size: 13px;
  transition: all 0.3s;
}
.list ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.list li{
  position: relative;
  display: list-item;
  text-align: -webkit-match-parent;
}
.list li:hover .line{
  bottom: 17px;
  background-color: white;
}
.hr{
  color: white;
  font-size: 17px;
}
.list li:hover .hr{
  color: red;
}

.line{
  display: block;
  height: 3px;
  width: 25px;
  border-radius:5px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%,0);
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

/*内容区样式*/
#talent{
  width: 100%;
  position: relative;
  /*background-size: 100% 100%;*/
}
/*9个模块样式*/
.group1{
  width: 100%;
  height: 500px;
  padding-top: 80px;
  display: flex;
  justify-content:center;
}
.module1{
  z-index: 1;
  background-size: 100% 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  width: 239px;
  height: 361px;
  position: relative;
  transition: all 0.3s;
  margin: 10px 60px 0px 60px;
  /*background-image: url("../../src/assets/people1.jpg");*/
  /*background-size: 100%;*/
}
.m-title{
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0);
}
.img1{
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.mask{
  padding: 10px ;
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  line-height: 22px;
}
.module2{
  z-index: 1;
  background-size: 100% 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  width: 239px;
  height: 361px;
  position: relative;
  transition: all 0.3s;
  margin: 50px 60px 0px 60px;
}
.module3{
  z-index: 1;
  background-size: 100% 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  width: 239px;
  height: 361px;
  position: relative;
  transition: all 0.3s;
  margin: 10px 60px 0px 60px;
}

.group2{
  width: 100%;
  height: 420px;
  /*background: #00A000;*/
  display: flex;
  justify-content:center;
}
.module4{
  z-index: 1;
  background-size: 100% 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  width: 239px;
  height: 361px;
  position: relative;
  transition: all 0.3s;
  margin: 50px 60px 0px 60px;
}
.module5{
  z-index: 1;
  background-size: 100% 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  width: 239px;
  height: 361px;
  position: relative;
  transition: all 0.3s;
  margin: 10px 60px 0px 60px;
}
.module6{
  z-index: 1;
  background-size: 100% 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  width: 239px;
  height: 361px;
  position: relative;
  transition: all 0.3s;
  margin: 50px 60px 0px 60px;
}

.group3{
  width: 100%;
  height: 420px;
  /*background: #00A000;*/
  display: flex;
  justify-content:center;
}
.module7{
  z-index: 1;
  background-size: 100% 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  width: 239px;
  height: 361px;
  position: relative;
  transition: all 0.3s;
  margin: 70px 60px 0px 60px;
}
.module8{
  width: 239px;
  height: 361px;
  margin: 50px 60px 0px 60px;
}
.module9{
  z-index: 1;
  background-size: 100% 100%;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  width: 239px;
  height: 361px;
  position: relative;
  transition: all 0.3s;
  margin: 70px 60px 0px 60px;
}
#talent .data .group3 .joinus{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 75%;
}
.module1:hover{
  z-index: 2;
  transform: scale(1.1);
  background: #e62129 !important;
  width: 239px;
  opacity:0.95;
}
.module2:hover{
  z-index: 2;
  transform: scale(1.1);
  background: #e62129 !important;
  width: 239px;
  opacity:0.95;
}
.module3:hover{
  z-index: 2;
  transform: scale(1.1);
  background: #e62129 !important;
  width: 239px;
  opacity:0.95;
}
.module4:hover{
  z-index: 2;
  transform: scale(1.1);
  background: #e62129 !important;
  width: 239px;
  opacity:0.95;
}
.module5:hover{
  z-index: 2;
  transform: scale(1.1);
  background: #e62129 !important;
  width: 239px;
  opacity:0.95;
}.module6:hover{
   z-index: 2;
   transform: scale(1.1);
   background: #e62129 !important;
   width: 239px;
   opacity:0.95;
 }.module7:hover{
    z-index: 2;
    transform: scale(1.1);
    background: #e62129 !important;
    width: 239px;
    opacity:0.95;
  }
.module9:hover{
  z-index: 2;
  transform: scale(1.1);
  background: #e62129 !important;
  width: 239px;
  opacity:0.95;
}
.module1:hover .m-title{
color: white;
}
.module2:hover .m-title{
  color: white;
}
.module3:hover .m-title{
  color: white;
}
.module4:hover .m-title{
  color: white;
}
.module5:hover .m-title{
  color: white;
}
.module6:hover .m-title{
   color: white;
 }
.module7:hover .m-title{
     color: white;
  }
.module9:hover .m-title{
  color: white;
}

.module1:hover .mask{
  color: white;
}
.module2:hover .mask{
  color: white;
}
.module3:hover .mask{
  color: white;
}
.module4:hover .mask{
  color: white;
}
.module5:hover .mask{
  color: white;
}
.module6:hover .mask{
  color: white;
}
.module7:hover .mask{
  color: white;
}
.module9:hover .mask{
  color: white;
}
