#head{
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #FFFF00;
}
.sec2{
  background-image: url("http://49.232.53.207/imgs/2019-07-2421:41:57:895%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190724213511.jpg");
  background-size: 100% 100%;
}
.page2-title{
  padding-top: 90px;
  text-align: center;
  font-size: 40px;
  color: #C8C8C8;
}
#head .container{
  width: 98%;
  position: relative;
  height: 80px;
}
.logo{
  height: 80px;
  margin-left: 10px;
  border-radius:5px;
}
.list {
  line-height: 80px;
  height: 80px;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}
.list ul li{
  float: left;
  margin: 0 15px;
  font-size: 13px;
  transition: all 0.3s;
}
.list ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.list li{
  position: relative;
  display: list-item;
  text-align: -webkit-match-parent;
}
.list li:hover .line{
  bottom: 17px;
  background-color: white;
}
.hr{
  color: white;
  font-size: 17px;
}
.list li:hover .hr{
  color: red;
}

.line{
  display: block;
  height: 3px;
  width: 25px;
  border-radius:5px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%,0);
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  width: 20px;
  height: 8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 0px;
  background: #8b8b8c;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
  background: red;
  width: 40px;
}
#fp-nav ul li, .fp-slidesNav ul li{
  height: 30px;
  flex-direction:column-reverse;
}
#fp-nav ul, .fp-slidesNav ul {
  width: 70px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  color: rgba(0, 0, 0, 0);
}
.page1{
  position: absolute;
  top: 100px;
height: 150px;
  width: 100%;

}
.page1-title1{
  text-align: center;
  font-size: 40px;
  color: #C8C8C8;
}
.page1-title2{
  text-align: center;
  font-size: 30px;
  color: #8b8b8c;
  font-weight: bold;

}
.img-box{
  position: absolute;
  top: 220px;
  height: 55%;
  width: 100%;
  padding: 0px 200px 0px 200px;
}
.float-box{
  z-index: 999;
  position: absolute;
  top: 100px;
  right: 3px;
  height: 80px;
  width: 160px;
}
.school{
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-size: 16px;
  color: white;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.child{
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-size: 16px;
  color: white;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}
.school:hover{
background: #8f383a;
}
.child:hover{
  background: #8f383a;
}
.swiper-img{
  height: 50%;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 330px;
  background-size: 100% 100%;
}
.ne-box{
  z-index: 1000;
  position: absolute;
  top: 50%;
  height: 100px;
  width: 100%;
  padding: 0px 200px 0px 200px;
}
.swiper-button-next{
  position: absolute;
  right: 15%;
  width: 55px;
  height: 55px;
}
.swiper-button-prev{
  position: absolute;
  left: 15%;
  width: 55px;
  height: 55px;
}
